In [60]:
import numpy as np
import pandas as pd

In [61]:
df1 = pd.read_csv("example.csv")

In [62]:
### 데이터프레임의 구성 : col, index, value
df1.columns

Index(['공급일자', '요일', '공급월', '공급주차', '회원번호', '조합원상태', '물품대분류', '물품중분류', '물품소분류',
       '물품명', '구매수량', '주소-구', '주소-동', '성별', '연령', '연령대', '구매금액', '구매매장',
       '반품_원거래일자', '구매시각'],
      dtype='object')

In [63]:
df1.index

RangeIndex(start=0, stop=705571, step=1)

In [64]:
df1.values

array([['2018-01-02', '화', 1, ..., '매장C', nan, '10:04'],
       ['2018-01-02', '화', 1, ..., '매장C', nan, '10:05'],
       ['2018-01-02', '화', 1, ..., '매장C', nan, '10:05'],
       ...,
       ['2018-06-30', '토', 6, ..., '매장A', nan, '14:37'],
       ['2018-06-30', '토', 6, ..., '매장A', nan, '18:04'],
       ['2018-06-30', '토', 6, ..., '매장A', nan, '16:36']], dtype=object)

## 데이터 특정 행 추출

In [65]:
df1.iloc[0] #iloc[]

공급일자         2018-01-02
요일                    화
공급월                   1
공급주차                  1
회원번호          272369856
조합원상태              정상회원
물품대분류                과실
물품중분류                과일
물품소분류                사과
물품명         사과/유(1.5kg)
구매수량                1.0
주소-구                수지구
주소-동               풍덕천동
성별                    여
연령                 45.0
연령대                 40대
구매금액              22207
구매매장                매장C
반품_원거래일자            NaN
구매시각              10:04
Name: 0, dtype: object

In [66]:
df1.iloc[-1]

공급일자             2018-06-30
요일                        토
공급월                       6
공급주차                     26
회원번호              301961920
조합원상태                  정상회원
물품대분류                    음료
물품중분류                    음료
물품소분류                    빙과
물품명         포도꽁꽁(120ml)/매장용
구매수량                    1.0
주소-구                    수지구
주소-동                   풍덕천동
성별                        여
연령                     49.0
연령대                     40대
구매금액                   1914
구매매장                    매장A
반품_원거래일자                NaN
구매시각                  16:36
Name: 705570, dtype: object

In [67]:
df1.iloc[0:10]

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,2018-01-02,화,1,1,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04
1,2018-01-02,화,1,1,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09
5,2018-01-02,화,1,1,716128320,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,51.0,50대,7083,매장C,NaN,10:10
6,2018-01-02,화,1,1,743192512,정상회원,채소,과일채소,딸기,딸기/(500g),1.0,수지구,성복동,여,51.0,50대,17038,매장C,NaN,10:12
7,2018-01-02,화,1,1,743192512,정상회원,채소,잎/줄기채소,어린잎채소,어린잎채소(100g),2.0,수지구,성복동,여,51.0,50대,11104,매장C,NaN,10:12
8,2018-01-02,화,1,1,743192512,정상회원,채소,양념채소,생강,생강(300g),1.0,수지구,성복동,여,51.0,50대,7083,매장C,NaN,10:12
9,2018-01-02,화,1,1,743192512,정상회원,채소,쌈채소류,쌈케일,쌈케일(150g),1.0,수지구,성복동,여,51.0,50대,2584,매장C,NaN,10:12

## 데이터 정렬 : sort_values

In [ ]:
df1.sort_values(by='구매금액') #기본은 오름차순이다

In [ ]:
df1.sort_values(by='구매금액', ascending=False) #내림차순 정렬

In [ ]:
df1.sort_values(by='구매수량', ascending=False)

In [ ]:
df1.sort_values(by=['구매수량', '연령']) #다중조건 정렬

In [ ]:
df1.sort_values(by=['구매수량', '연령'], ascending=[False, True]) #구매수량은 내림차순으로, 연령대는 오름차순으로

In [ ]:
df1.sort_values(by=['구매수량', '연령'], ascending=[False, True]).iloc[:10] # 상위 10개 데이터

## 데이터 필터

In [ ]:
df1['연령대'].value_counts() #항목별로 데이터의 개수를 볼 수 있다

In [ ]:
cond1 = (df1['연령대'] == '40대') # bool type으로 데이터를 변수로 할당
df1.loc[cond1] # 연령대에서 40대인 series 데이터만 찾아 보여줌

In [ ]:
cond2 = (df1['연령대'] != '40대') # cond2는 40대를 제외한 데이터를 출력하게 된다
df1.loc[~cond1] # cond1을 만족하지 않는다는 표시

In [ ]:
df1['성별'].value_counts()

In [ ]:
cond3 = (df1['성별'] == '남')
df1.loc[cond1 & cond3] #성별이 남성이면서 연령대가 40대인 사람들

In [ ]:
df1.loc[cond1 | cond3] # or 조건식

## 연습

In [ ]:
### 30대 여성들 데이터만 추출하여 구매금액이 높은 순서대로 정렬하여 파일 생성

In [ ]:
cond_1 = (df1['성별'] == '여')
cond_2 = (df1['연령대'] == '30대이하') & (df1['연령'] >= 30)
df_30w = df1.loc[cond_1 & cond_2].sort_values('구매금액', ascending=False)

In [ ]:
df_30w.shape

In [ ]:
df_30w.to_csv("result_pandas3.csv", encoding='cp949') #파일을 저장하기 (cp949 - 한글 인코딩 지원)